.Services {
  min-height: 100vh;
  background-color: var(--white-color);
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;

  .Services__container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    h1 {
      font-family: 'Lato', sans-serif;
      font-size: 4rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--black-color);
    }

    .Services__container__services {
      margin-top: 4rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      width: 100%;
      flex-wrap: wrap;

      .Services__container__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: var(--black-color);
        border-radius: 20px;
        gap: 1rem;
        position: relative;
        height: 30rem;
        padding: 2rem 0.25rem;
        width: 22rem;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
        cursor: pointer;

        h2 {
          font-size: 2.5rem;
          text-align: center;
          color: var(--white-color);
          margin-bottom: 0.5rem;
        }
        svg {
          font-size: 5rem;
          color: var(--red-color);
          border-radius: 50%;
          margin-bottom: 1rem;
        }
        p {
          color: var(--red-color);
          font-size: 2rem;
          text-align: center;
          font-weight: 600;
          h5 {
            font-size: 2rem;
            text-decoration: line-through;
          }
          span {
            color: var(--white-color);
          }
        }
        .green {
          color: var(--green-color);
          font-weight: 600;
        }
        button {
          width: 200px;
          height: 3rem;
          border: none;
          border-radius: 2rem;
          background-color: var(--red-color);
          color: var(--white-color);
          font-size: 1.5rem;
          font-weight: 700;
          text-transform: uppercase;
          align-self: center;
          position: absolute;
          bottom: 2rem;
          margin-top: 1rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: var(--white-color);
            color: var(--red-color);
          }
        }
      }
      .Services__container__card:hover{
        border: 2px solid var(--red-color);
        transition: 0.5s all ease-in-out;
        scale: 110%;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 6px 16px;
      }
    }
    
  }
}


