.Signup {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-color);

  .Signup__container {
    width: 70%;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: rgba(255, 255, 255, 0.26) 0px 1px 4px;
    .Signup__image {
      flex: 2;
    }

    .Signup__container-form {
      flex: 3;
      background-color: var(--black-color);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
    .Signup__image,
    .Signup__container-form {
      height: 650px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;

      .Signup__display {
        height: 650px;
        width: 100%;
        position: relative;

        .Signup__image-bg {
          object-fit: cover;
        }
      }
      .Singup__image-info {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        text-align: center;
        h1 {
          letter-spacing: -1.5px;
          color: var(--red-color);
          font-size: 3.5rem;
          line-height: 3rem;
          font-weight: 900;

          span {
            color: var(--white-color);
          }
        }
        p {
          font-size: 1.4rem;
          padding: 0.25rem 1rem;
          line-height: 1.8rem;
          font-weight: 600;
          color: var(--white-color);
        }
      }
      h1 {
        color: var(--white-color);
        font-size: 3rem;
        font-weight: 700;
        margin: 0.5rem;
      }

      form {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.3rem;
        margin: 0 auto;
        .Signup__form-group {
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 0.25rem;
          margin: 0 auto;
          position: relative;
          label {
            font-size: 1rem;
            font-weight: 500;
            color: var(--white-color);
            margin-bottom: 0.25rem;
          }
          input {
            width: 100%;
            height: 2.5rem;
            border: 1px solid var(--black-color);
            border-radius: 0.5rem;
            padding: 0 1rem;
            font-size: 1rem;
            font-weight: 400;
            color: var(--black-color);
            &:focus {
              outline: none;
              border: 1px solid var(--red-color);
            }
          }
          svg {
            position: absolute;
            top: 2.5rem;
            right: 1rem;
            font-size: 1.5rem;
            cursor: pointer;
            color: var(--gray-color);
          }
        }
        .Signup__redirect-login {
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.2rem;
          margin: 0.25rem auto;

          p {
            font-size: 1.2rem;
            font-weight: 400;
            color: var(--white-color);
            margin-right: 0.25rem;
          }
          a {
            font-size: 1rem;
            font-weight: 600;
            color: var(--red-color);
            text-decoration: none;
          }
        }

        .Signup__google {
          width: 270px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.25rem;
          margin: 0rem auto;
          border: 1px solid rgba(255, 255, 255, 0.26);
          height: 3rem;
          border-radius: 10px;
          cursor: pointer;
          position: relative;
          background-color: gainsboro;
          transition: all 0.3s ease-in-out;
          button {
            width: 100%;
            border: none;
            border-radius: 10px;
            font-size: 1.1rem;
            font-weight: 500;
            margin-left: 2rem;
          }
          svg {
            position: absolute;
            font-size: 2rem;
            left: 1rem;
          }

          &:hover {
            color: var(--white-color);
            background-color: var(--gray-color);
          }
        }
        .Signup__btn {
          width: 200px;
          height: 3rem;
          border: none;
          border-radius: 10px;
          font-size: 1.2rem;
          font-weight: 600;
          letter-spacing: 1px;
          margin: 0rem auto;
          margin-bottom: 1rem;
          cursor: pointer;
          color: var(--white-color);
          transition: all 0.3s ease-in-out;
          background-color: var(--red-color);
          &:hover {
            color: var(--red-color);
            background-color: whitesmoke;
            border: 1px solid var(--red-color);
          }
        }

        .Signup__button-disable{
          width: 200px;
          height: 3rem;
          border: none;
          border-radius: 10px;
          font-size: 1.2rem;
          font-weight: 600;
          letter-spacing: 1px;
          margin: 0rem auto;
          margin-bottom: 1rem;
          cursor: not-allowed;
          color: var(--white-color);
          transition: all 0.3s ease-in-out;
          background-color: var(--gray-color);

        }
      .Signup__error{
        p{
          color: crimson  ;
        }
      }
      }
    }
  }
}
