.EvolutionReport{
    width: 100%;
    height: 100%;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;

    .EvolutionReport__container{
        width: 100%;
        margin: 0 auto;
        margin-top: 1rem;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;

        .EvolutionReport__container__title{
            h1{
                font-size: 2rem;
                font-weight: 500;
                color: var(--black-color);
            }
        }
        .EvolutionReport__container__content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            margin: 0 auto;
            overflow-y: scroll;
            
            .EvolutionReport__container__content__graphics{
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 300px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;

                .graphic__line{
                    width: 100px;
                    margin-bottom: 5rem;
                }
            }
        }
    }
}